node_modules/**/*
.expo/
npm-debug.*
# yarn is used instead
package-lock.json
*.jks
*.p12
*.key
*.mobileprovision
*.p8
google-service-account*.json
service-account*.json

# Environment variables
.env
.env.local

# Firebase Emulator logs and data
firestore-debug.log
ui-debug.log
firebase-debug.log
.emulator-data/
firebase-data/
firebase-functions.log
.firebase

# macOS
.DS_Store

# Python
.venv/
__pycache__/
*.pyc

# EAS Build artifacts
build-*.tar.gz