node_modules/**/*
.expo/
npm-debug.*
package-lock.json
yarn.lock
*.jks
*.p12
*.key
*.mobileprovision

# Environment variables
.env
.env.local

# Firebase Emulator logs
firestore-debug.log
ui-debug.log
firebase-debug.log

# macOS
.DS_Store

# Python
.venv/
__pycache__/
*.pyc